<!-- Main content -->
<section class="content" onLoad="reloadPage()">
  <div class="row">
    <div class="col-xs-12">
      <div class="box box-info">
        <div class="box-header with-border">
          <h3 class="box-title">Received Posts</h3>
        </div>
        
        <!-- /.box-header -->
        <div class="box-body">
          <table id="example1" class="table table-bordered table-striped">
            <thead>
              <tr>
                <th><%= t('activerecord.attributes.received_post.message') %></th>
                <th><%= t('activerecord.attributes.received_post.created_at') %></th>
              </tr>
            </thead>

            <tbody>
              <% @received_posts.each do |received_post| %>
                <tr>
                  <td><%= link_to("#{received_post.message[0, 30]}...", received_post_path(received_post)) %></td>
                  <td><%= DateTime(received_post.created_at).strftime("%H:%M:%S - %m/%d/%Y") %></td>

                  <td><%= link_to received_post_path(received_post), method: 'delete', data: {confirm: "Are you sure?"}, class: "btn btn-danger" do %><i class="fa fa-ban"></i> <%= t('actions.remove') %><% end %></td>
                </tr>
              <% end %>
            </tbody>

            <tfoot>
              <tr>
                <th><%= t('activerecord.attributes.received_post.message') %></th>
                <th><%= t('activerecord.attributes.received_post.created_at') %></th>
              </tr>
            </tfoot>
          </table>
        </div>
        <!-- /.box-body -->
      </div>
      <!-- /.box -->
    </div>
    <!-- /.col -->
  </div>
  <!-- /.row -->
</section>
<!-- /.content -->
